@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#F4E7D3;
}
.logo {
  align-items: left;
  width: 58px;
  height: 61px;
  flex-shrink: 0;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 15px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}
h1 {
  align-items: left;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-top: 24px;
  font-style: normal;
  font-size: 36px;
  font-family: "Lato", sans-serif;
}
h2 {
  text-indent: 177px 175px;
  padding: 5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 30px;
  width: 176px;
  height: 51px;
  flex-shrink: 0;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 20;
  line-height: normal;
}
p {
  text-align: left;
  margin-left: 60px;
  margin-right: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-shrink: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
 }
p2 {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 20px;
 }
 p3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
 }
li {
  float: right;
  border: 1px solid#444B57;
  margin-top: 4rem;
}
li a {
  display: block;
  color: #F4E7D3;
  background-color: #444B57;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #F4E7D3;
  color:#444B57;
}

h2 {
  text-indent: 177px 175px;
  padding: 5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 30px;
  width: 400px;
  height: 51px;
  flex-shrink: 0;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 50;
  line-height: normal;
  list-style: straight;
}

h3 {
  text-decoration: underline;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-left: 46rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

p3 {
    width: 500px;
    height: 228px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20rem;
    margin-top: 10rem;
    margin-right: 20px;
    grid-area: auto;
}

.workGrid {
  grid-area: main;
}

.WingPet-image {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 2rem;
  flex-shrink: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.WAP-image {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 30rem;
}

.CSA-image {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 30rem;
}

.footer-container {
  padding-bottom: 10rem; 
  background-color: #444B57;
  justify-content: right;
}   

.footer {
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-shrink: 0;
  margin-top: 2rem;
  color: #F4E7D3;
  background-color: #444B57;
  display: flex;
}
.footer-1 {
  flex-direction: row;
  margin-bottom: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 16rem;
  background-color: #444B57;
  word-spacing: 6px;
  letter-spacing: normal;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.footer-1 :hover {
  color: #B4C6D5;
}
.footer-heading h4 {
  margin-bottom: 5rem;
  background-color: #444B57;
}
.footer-2 {
  margin-bottom: 0.5rem;
  text-align: center;
  color: #F4E7D3;
  background-color: #444B57;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 80px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.footer-2 h4 {
  color: #F4E7D3;
  text-align: center;
  background-color: #444B57;
}
.footer-2 a {
  text-align: center;
  color: #F4E7D3;
  background-color: #444B57;
}
.footer-2 a:hover {
  color: #B4C6D5;
}
.footer-heading a:hover {
  color: #B4C6D5;
  transition: 0.3s ease-out;
}
.footer-3 {
  color: #F4E7D3;
  text-align: right;
  background-color: #444B57;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10rem;
  margin-right: 50px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.footer-3 h4 {
  text-align: center;
  margin-left: 10rem;
  color: #F4E7D3;
  background-color: #444B57;
  word-spacing: 4px;
}
.footer-3 a {
  color: #F4E7D3;
  background-color: #444B57;
  text-align: right;
  margin-left: 15px;
}
.footer-3 a:hover {
  color: #B4C6D5;
}
